.link {
  display: flex;
  transition-duration: 300ms;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 3px solid transparent;
  background-color: var(--content-background);
  color: var(--foreground);
}

.link:hover {
  border-color: var(--foreground);
}

.active {
  background-color: var(--foreground);
  color: var(--content-background);
}
