.navigation {
  display: flex;
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 1rem;
  gap: 1rem;
}

@media (max-width: 640px) {
  .navigation {
    flex-wrap: wrap;
    padding: 2rem 2rem;
  }
}
