.label {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.input {
  padding: 0.25rem 0.375rem;
  width: 18rem;
  background-color: var(--content-background);
  border-radius: 0.2rem;
  border: 1px solid rgb(133, 133, 133);
}

@media (max-width: 640px) {
  .label {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .input {
    width: 100%;
  }
}
