.container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.range {
  display: flex;
  gap: 1rem;
  width: 18rem;
  justify-content: space-between;
}

.range input {
  width: 5rem;
}

@media (max-width: 640px) {
  .container {
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .range {
    justify-content: end;
    width: auto;
  }

  .small input {
    width: 2rem;
  }

  .medium input {
    width: 2.7rem;
  }
}
