.card {
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--content-background);
  font-weight: 600;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  .card {
  }
}
